/.project
/.pydevproject

*.pyc
*.jpg
*.JPG
*.png 
*.PNG
*.docx
*.zip

images/*
!images/tmp/*
!images/example10.jpg

kotera/

data/ciexyz31_1.csv

org.eclipse.core.resources.prefs

.DS_Store
images/.DS_Store
images/database/.DS_Store

.BridgeLabelsAndRatings
/wrong.py
/exercise5.py


/c++
/code/Matlab

/answersA.csv
/answersA.xlsx
/pupsidupsiA.xlsx
/pupsidupsiB.xlsx
/colordeficiency/dummy.xlsx
/html
/images2gif.py
/input.txt
/output.txt
/test1.MPO
/mpo.py