/.project
/.pydevproject
/test1-IPT-d.jpg
/test1-IPT-p.jpg
/test1-IPT-t.jpg
/daltonize-d-test3.jpg
/daltonize-d-test4.jpg
/daltonize-p-test3.jpg
/daltonize-p-test4.jpg
/daltonize-t-test3.jpg
/daltonize-t-test4.jpg
/test2-IPT-d.jpg
/test2-IPT-p.jpg
/test2-IPT-t.jpg
/test2-vienot-d.jpg
/test2-vienot-p.jpg
/test2-vienot-t.jpg
/test3-IPT-d.jpg
/test3-IPT-p.jpg
/test3-IPT-t.jpg
/test3-vienot-d.jpg
/test3-vienot-p.jpg
/test3-vienot-t.jpg
/test5-IPT-d.jpg
/test5-IPT-p.jpg
/test5-IPT-t.jpg
/test6-IPT-d.jpg
/test6-IPT-p.jpg
/test6-IPT-t.jpg
/test6-vienot-d.jpg
/test6-vienot-p.jpg
/test6-vienot-t.jpg
/wrong.py
