/.project
/.pydevproject

*.pyc
*.jpg
*.JPG
*.png 
*.docx
*.zip

org.eclipse.core.resources.prefs

.DS_Store
images/.DS_Store
images/database/.DS_Store

.BridgeLabelsAndRatings
/wrong.py
/exercise5.py


/c++